<div style='border: 3px dashed red'>
    <img src='http://bit.ly/1eze8aE'>
  </div>


  # removed the double quotes outside the string.
  # when the string was in the app.rb file it was
  # enclosed in double quotes. 
