<h1> My name is <%= @variable %></h1>

<div style='border: 3px dashed red'>
    <img src='http://bit.ly/1eze8aE'>
  </div>


  "Hi there, Visitor <%= 2 + 2 %>!"


  <!-- # removed the double quotes outside the string.
  # when the string was in the app.rb file it was
  # enclosed in double quotes. -->

  <!-- We just called erb a templating system. The reason is that it's actually much more powerful than it may seem on the surface. erb stands for Embedded Ruby  -->

  <!-- In our case, app.rb will be for routing (or controlling) concerns, and we will use another file for our presentation (or view) concerns. -->

    <!-- erb can rub Ruby code and HTML code -->
